<mat-toolbar color="primary">
    <span class="clickable-span" role="button" (click)="clearDashboard()">Sports Data Visualizer</span>
    <div *ngIf="dashboard">
        <p class="h6 m-0 pl-5">{{dashboard}}</p>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="dashboards" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #dashboards="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="attendance">
    <mat-icon color="primary">event_seat</mat-icon>
    <span>Attendance</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="performance">
    <mat-icon color="primary">speed</mat-icon>
    <span>Performance</span>
  </button>
    <button (click)="setDashboard($event)" mat-menu-item>
    <mat-icon color="primary">cake</mat-icon>
    <span>Player Age</span>
  </button>
    <button (click)="setDashboard($event)" mat-menu-item>
    <mat-icon color="primary">discount</mat-icon>
    <span>League Cards</span>
  </button>
    <button (click)="setDashboard($event)" mat-menu-item>
    <mat-icon color="primary">flag</mat-icon>
    <span>Player Nationality</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="hypothesis_testing">
    <mat-icon color="primary">science</mat-icon>
    <span>Hypothesis Testing</span>
  </button>
</mat-menu>

<mat-menu #attendance="matMenu">
    <button (click)="setDashboard($event)" mat-menu-item>Countries Attendance</button>
    <button (click)="setDashboard($event)" mat-menu-item>Stadium Attendance</button>
    <button (click)="setDashboard($event)" mat-menu-item>Teams Attendance</button>
    <button (click)="setDashboard($event)" mat-menu-item>Worldwide Attendance</button>
</mat-menu>

<mat-menu #performance="matMenu">
    <button (click)="setDashboard($event)" mat-menu-item>Teams Performance</button>
    <button (click)="setDashboard($event)" mat-menu-item>Player Performance</button>
    <button (click)="setDashboard($event)" mat-menu-item>League Performance</button>
</mat-menu>


<mat-menu #hypothesis_testing="matMenu">
    <button (click)="setDashboard($event)" mat-menu-item>Yearly Attendance Hypothesis Testing</button>
    <button (click)="setDashboard($event)" mat-menu-item>Club Attendance Hypothesis Testing</button>
    <button (click)="setDashboard($event)" mat-menu-item>Player Position Height Hypothesis Testing</button>
    <button (click)="setDashboard($event)" mat-menu-item>Club Position Goals Hypothesis Testing</button>
</mat-menu>

<div class="p-5" style="height: 90%; width: 100%;">
    <angular-tableau [src]="url_value"></angular-tableau>
</div>