<mat-toolbar color="primary">
    <span class="clickable-span" role="button" (click)="goToHome()">Sports Data Visualizer</span
  >
  <p class="h6 m-0 pl-5">{{currentTitle}}</p>
  <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="dashboards">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #dashboards="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="attendance">
    <mat-icon color="primary">event_seat</mat-icon>
    <span>Attendance</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="performance">
    <mat-icon color="primary">speed</mat-icon>
    <span>Performance</span>
  </button>
    <button (click)="setPlot($event)" mat-menu-item>
    <mat-icon color="primary">cake</mat-icon>
    <span>Player Age</span>
  </button>
    <button (click)="setPlot($event)" mat-menu-item>
    <mat-icon color="primary">discount</mat-icon>
    <span>League Cards</span>
  </button>
    <button (click)="setPlot($event)" mat-menu-item>
    <mat-icon color="primary">flag</mat-icon>
    <span>Player Nationality</span>
  </button>
    <button (click)="setPlot($event)" mat-menu-item>
    <mat-icon color="primary">scatter_plot</mat-icon>
    <span>Scatter Plot Matrix</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="hypothesis_testing">
    <mat-icon color="primary">science</mat-icon>
    <span>Hypothesis Testing</span>
  </button>
    <button mat-menu-item [matMenuTriggerFor]="machine_learning">
    <mat-icon color="primary">memory</mat-icon>
    <span>Machine Learning</span>
  </button>
</mat-menu>

<mat-menu #attendance="matMenu">
    <button (click)="setPlot($event)" mat-menu-item>Countries Attendance</button>
    <button (click)="setPlot($event)" mat-menu-item>Stadium Attendance</button>
    <button (click)="setPlot($event)" mat-menu-item>Teams Attendance</button>
    <button (click)="setPlot($event)" mat-menu-item>Worldwide Attendance</button>
</mat-menu>

<mat-menu #performance="matMenu">
    <button (click)="setPlot($event)" mat-menu-item>Teams Performance</button>
    <button (click)="setPlot($event)" mat-menu-item>Player Performance</button>
    <button (click)="setPlot($event)" mat-menu-item>League Performance</button>
</mat-menu>

<mat-menu #hypothesis_testing="matMenu">
    <button (click)="setPlot($event)" mat-menu-item>Yearly Attendance Hypothesis Testing</button>
    <button (click)="setPlot($event)" mat-menu-item>Club Attendance Hypothesis Testing</button>
    <button (click)="setPlot($event)" mat-menu-item>Player Position Height Hypothesis Testing</button>
    <button (click)="setPlot($event)" mat-menu-item>Player Position Goals Hypothesis Testing</button>
</mat-menu>

<mat-menu #machine_learning="matMenu">
    <button (click)="openClassification()" mat-menu-item>Winning Classification</button>
    <button (click)="openRegression()" mat-menu-item>Goals Regression</button>
</mat-menu>

<div class="px-5 py-2" style="height: 85%; width: 100%">
    <router-outlet></router-outlet>
</div>