<div class="mb-2">
    <mat-accordion *ngIf="selectedPlot && (selectedPlot.descriptions.length || selectedPlot.caption)">
        <mat-expansion-panel [(expanded)]="isPanelOpen" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{selectedPlot.caption}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <hr class="mt-0 pt-0">
            <h4>Main Observations:</h4>
            <ul class="my-0 py-0">
                <li *ngFor="let description of selectedPlot.descriptions">
                    <h4>{{description}}</h4>
                </li>
            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<angular-tableau *ngIf="selectedPlot" [src]="selectedPlot.url"></angular-tableau>