<header class="bg-image py-5" style="height: 33rem; background-image: url(./assets/image/home.png)">
    <div class="text-center my-5">
        <p class="display-3" style="color:black">Sports Data Visualizer</p>
        <h2 style="color:black">Augmenting Visualization Techniques into Soccer</h2>
    </div>
</header>
<div class="container my-5">
    <div class="row gx-5">
        <div class="col">
            <div class="feature square mb-3">
                <mat-icon class="square-icon">grid_on</mat-icon>
            </div>
            <h2>Sufficient Data</h2>
            <p>800k+ of rows that spans two decades of recording</p>
        </div>
        <div class="col">
            <div class="feature square mb-3">
                <mat-icon class="square-icon">insert_chart_outlined</mat-icon>
            </div>
            <h2>Meaningful Plots</h2>
            <p>20+ plots that extracts valuable insights</p>
        </div>
        <div class="col">
            <div class="feature square mb-3">
                <mat-icon class="square-icon">memory</mat-icon>
            </div>
            <h2>Machine Learning</h2>
            <p>Ready-to-use classification and regression models</p>
        </div>
    </div>
</div>